In [1]:
!pip3 install yfinance

Collecting yfinance
  Downloading yfinance-0.1.59.tar.gz (25 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\yamau\anaconda3\lib\site-packages (from yfinance) (1.1.3)
Requirement already satisfied: numpy>=1.15 in c:\users\yamau\anaconda3\lib\site-packages (from yfinance) (1.19.2)
Requirement already satisfied: requests>=2.20 in c:\users\yamau\anaconda3\lib\site-packages (from yfinance) (2.24.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: lxml>=4.5.1 in c:\users\yamau\anaconda3\lib\site-packages (from yfinance) (4.6.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\yamau\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\yamau\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\yamau\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\yamau\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\yamau\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yamau\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: six>=1.5 in c:\users\yamau\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23447 sha256=3d02adee1aa464dcc57a5253534c01160040a69b9d753aac30ddeb2f9dd502d8
  Stored in directory: c:\users\yamau\appdata\local\pip\cache\wheels\7e\d5\f4\f628965651f61ae35c2bdc73571ce1a2026e1550a336b5ad4b
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8372 sha256=226066adb29713bf5f822bd9c0db6b027c2149e4a7ea08b59c391b3eadd26a8a
  Stored in directory: c:\users\yamau\appdata\local\pip\cache\wheels\57\6d\a3\a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.59

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf

%matplotlib inline

In [3]:
aapl=yf.Ticker("AAPL")

In [8]:
aapl.history().shape

(23, 7)

In [14]:
days=50
hist=aapl.history(period=f"{days}d")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-03-05,120.774855,121.733226,117.370634,121.214104,153766600,0.00,0
2021-03-08,120.724940,120.794821,116.012942,116.162689,154376600,0.00,0
2021-03-09,118.828162,121.853023,118.588571,120.884666,129525800,0.00,0
2021-03-10,121.483657,121.962839,119.247450,119.776558,111943300,0.00,0
2021-03-11,122.332207,123.001069,121.054379,121.753189,103026500,0.00,0
2021-03-12,120.195839,120.964530,118.957944,120.824768,88105100,0.00,0
2021-03-15,121.204128,123.789732,120.215801,123.779747,92403800,0.00,0
2021-03-16,125.486848,127.004275,124.508514,125.357071,115227900,0.00,0
2021-03-17,123.839652,125.646580,122.132544,124.548447,111932600,0.00,0
2021-03-18,122.671628,122.971123,120.115972,120.325615,121229700,0.00,0
2021-03-19,119.696686,121.224090,119.477058,119.786530,185549500,0.00,0
2021-03-22,120.125962,123.659960,120.056081,123.180771,111912300,0.00,0
2021-03-23,123.120876,124.029329,121.932891,122.332214,95467100,0.00,0
2021-03-24,122.611734,122.691600,119.866397,119.886360,88530500,0.00,0
2021-03-25,119.337298,121.453706,118.798213,120.385513,98844700,0.00,0
2021-03-26,120.145921,121.274010,118.718345,121.004463,94071200,0.00,0
2021-03-29,121.443720,122.372143,120.525281,121.184158,80819200,0.00,0
2021-03-30,119.906329,120.195838,118.658448,119.696686,85671900,0.00,0
2021-03-31,121.443719,123.310543,120.944567,121.942871,118323800,0.00,0
2021-04-01,123.450312,123.969427,122.282290,122.791428,75089100,0.00,0
2021-04-05,123.659959,125.946077,122.861313,125.686516,88651200,0.00,0
2021-04-06,126.285496,126.914425,125.436939,125.995987,80171300,0.00,0
2021-04-07,125.616631,127.703083,124.927799,127.683121,83466700,0.00,0
2021-04-08,128.731334,130.168894,128.302070,130.138947,88844600,0.00,0
2021-04-09,129.579904,132.814401,129.250462,132.774475,106686700,0.00,0
2021-04-12,132.295284,132.624727,130.408490,131.017456,91420000,0.00,0
2021-04-13,132.215426,134.431663,131.706281,134.202042,91266500,0.00,0
2021-04-14,134.711191,134.771087,131.436754,131.806122,87222800,0.00,0
2021-04-15,133.593087,134.771079,133.413385,134.271927,89347100,0.00,0
2021-04-16,134.072272,134.441640,133.053998,133.932510,84922400,0.00,0
2021-04-19,133.283597,135.240280,133.113887,134.611343,94264200,0.00,0
2021-04-20,134.791058,135.300187,131.586494,132.884293,94812300,0.00,0
2021-04-21,132.135554,133.523197,131.077354,133.273621,68847100,0.00,0
2021-04-22,132.814404,133.922522,131.187178,131.716278,84566500,0.00,0
2021-04-23,131.935898,134.890871,131.935898,134.092239,78657500,0.00,0
2021-04-26,134.601376,134.830982,133.333525,134.491562,66905100,0.00,0
2021-04-27,134.781053,135.180384,133.882585,134.162109,66015800,0.00,0
2021-04-28,134.082243,134.791046,132.854333,133.353485,107760100,0.00,0
2021-04-29,136.238598,136.837586,132.225410,133.253662,151101000,0.00,0
2021-04-30,131.556541,133.333521,130.847753,131.237091,109713200,0.00,0
2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.00,0
2021-05-04,130.967542,131.267036,126.485150,127.633202,137564700,0.00,0
2021-05-05,128.980915,130.228796,127.753005,127.882790,84000900,0.00,0
2021-05-06,127.673135,129.529982,126.914422,129.520004,78128300,0.00,0
2021-05-07,130.850006,131.259995,129.479996,130.210007,78892700,0.22,0
2021-05-10,129.410004,129.539993,126.809998,126.849998,88071200,0.00,0
2021-05-11,123.500000,126.269997,122.769997,125.910004,126142800,0.00,0
2021-05-12,123.400002,124.639999,122.250000,122.769997,112172300,0.00,0
2021-05-13,124.580002,126.150002,124.260002,124.970001,105752400,0.00,0
2021-05-14,124.580002,127.144997,126.250000,126.418999,8577422,0.00,0

In [16]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [17]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-03-05,120.774855,121.733226,117.370634,121.214104,153766600,0.00,0
1,2021-03-08,120.724940,120.794821,116.012942,116.162689,154376600,0.00,0
2,2021-03-09,118.828162,121.853023,118.588571,120.884666,129525800,0.00,0
3,2021-03-10,121.483657,121.962839,119.247450,119.776558,111943300,0.00,0
4,2021-03-11,122.332207,123.001069,121.054379,121.753189,103026500,0.00,0
5,2021-03-12,120.195839,120.964530,118.957944,120.824768,88105100,0.00,0
6,2021-03-15,121.204128,123.789732,120.215801,123.779747,92403800,0.00,0
7,2021-03-16,125.486848,127.004275,124.508514,125.357071,115227900,0.00,0
8,2021-03-17,123.839652,125.646580,122.132544,124.548447,111932600,0.00,0
9,2021-03-18,122.671628,122.971123,120.115972,120.325615,121229700,0.00,0
10,2021-03-19,119.696686,121.224090,119.477058,119.786530,185549500,0.00,0
11,2021-03-22,120.125962,123.659960,120.056081,123.180771,111912300,0.00,0
12,2021-03-23,123.120876,124.029329,121.932891,122.332214,95467100,0.00,0
13,2021-03-24,122.611734,122.691600,119.866397,119.886360,88530500,0.00,0
14,2021-03-25,119.337298,121.453706,118.798213,120.385513,98844700,0.00,0
15,2021-03-26,120.145921,121.274010,118.718345,121.004463,94071200,0.00,0
16,2021-03-29,121.443720,122.372143,120.525281,121.184158,80819200,0.00,0
17,2021-03-30,119.906329,120.195838,118.658448,119.696686,85671900,0.00,0
18,2021-03-31,121.443719,123.310543,120.944567,121.942871,118323800,0.00,0
19,2021-04-01,123.450312,123.969427,122.282290,122.791428,75089100,0.00,0
20,2021-04-05,123.659959,125.946077,122.861313,125.686516,88651200,0.00,0
21,2021-04-06,126.285496,126.914425,125.436939,125.995987,80171300,0.00,0
22,2021-04-07,125.616631,127.703083,124.927799,127.683121,83466700,0.00,0
23,2021-04-08,128.731334,130.168894,128.302070,130.138947,88844600,0.00,0
24,2021-04-09,129.579904,132.814401,129.250462,132.774475,106686700,0.00,0
25,2021-04-12,132.295284,132.624727,130.408490,131.017456,91420000,0.00,0
26,2021-04-13,132.215426,134.431663,131.706281,134.202042,91266500,0.00,0
27,2021-04-14,134.711191,134.771087,131.436754,131.806122,87222800,0.00,0
28,2021-04-15,133.593087,134.771079,133.413385,134.271927,89347100,0.00,0
29,2021-04-16,134.072272,134.441640,133.053998,133.932510,84922400,0.00,0
30,2021-04-19,133.283597,135.240280,133.113887,134.611343,94264200,0.00,0
31,2021-04-20,134.791058,135.300187,131.586494,132.884293,94812300,0.00,0
32,2021-04-21,132.135554,133.523197,131.077354,133.273621,68847100,0.00,0
33,2021-04-22,132.814404,133.922522,131.187178,131.716278,84566500,0.00,0
34,2021-04-23,131.935898,134.890871,131.935898,134.092239,78657500,0.00,0
35,2021-04-26,134.601376,134.830982,133.333525,134.491562,66905100,0.00,0
36,2021-04-27,134.781053,135.180384,133.882585,134.162109,66015800,0.00,0
37,2021-04-28,134.082243,134.791046,132.854333,133.353485,107760100,0.00,0
38,2021-04-29,136.238598,136.837586,132.225410,133.253662,151101000,0.00,0
39,2021-04-30,131.556541,133.333521,130.847753,131.237091,109713200,0.00,0
40,2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.00,0
41,2021-05-04,130.967542,131.267036,126.485150,127.633202,137564700,0.00,0
42,2021-05-05,128.980915,130.228796,127.753005,127.882790,84000900,0.00,0
43,2021-05-06,127.673135,129.529982,126.914422,129.520004,78128300,0.00,0
44,2021-05-07,130.850006,131.259995,129.479996,130.210007,78892700,0.22,0
45,2021-05-10,129.410004,129.539993,126.809998,126.849998,88071200,0.00,0
46,2021-05-11,123.500000,126.269997,122.769997,125.910004,126142800,0.00,0
47,2021-05-12,123.400002,124.639999,122.250000,122.769997,112172300,0.00,0
48,2021-05-13,124.580002,126.150002,124.260002,124.970001,105752400,0.00,0
49,2021-05-14,124.580002,127.144997,126.250000,126.418999,8577422,0.00,0

In [20]:
hist_msft=yf.Ticker("MSFT").history(period=f"{days}d") 
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-03-05,229.520004,233.270004,226.460007,231.600006,41872800,0,0
2021-03-08,231.369995,233.369995,227.130005,227.389999,35267400,0,0
2021-03-09,232.880005,235.380005,231.669998,233.779999,33080500,0,0
2021-03-10,237.000000,237.000000,232.039993,232.419998,29746800,0,0
2021-03-11,234.960007,239.169998,234.309998,237.130005,29907600,0,0

In [21]:
pd.concat([hist,hist_msft],axis=1)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2021-03-05,120.774855,121.733226,117.370634,121.214104,153766600,0.00,0,229.520004,233.270004,226.460007,231.600006,41872800,0,0
2021-03-08,120.724940,120.794821,116.012942,116.162689,154376600,0.00,0,231.369995,233.369995,227.130005,227.389999,35267400,0,0
2021-03-09,118.828162,121.853023,118.588571,120.884666,129525800,0.00,0,232.880005,235.380005,231.669998,233.779999,33080500,0,0
2021-03-10,121.483657,121.962839,119.247450,119.776558,111943300,0.00,0,237.000000,237.000000,232.039993,232.419998,29746800,0,0
2021-03-11,122.332207,123.001069,121.054379,121.753189,103026500,0.00,0,234.960007,239.169998,234.309998,237.130005,29907600,0,0
2021-03-12,120.195839,120.964530,118.957944,120.824768,88105100,0.00,0,234.009995,235.820007,233.229996,235.750000,22653700,0,0
2021-03-15,121.204128,123.789732,120.215801,123.779747,92403800,0.00,0,234.960007,235.190002,231.809998,234.809998,26034900,0,0
2021-03-16,125.486848,127.004275,124.508514,125.357071,115227900,0.00,0,236.279999,240.059998,235.940002,237.710007,28092200,0,0
2021-03-17,123.839652,125.646580,122.132544,124.548447,111932600,0.00,0,236.149994,238.550003,233.229996,237.039993,29562100,0,0
2021-03-18,122.671628,122.971123,120.115972,120.325615,121229700,0.00,0,232.559998,234.190002,230.330002,230.720001,34833000,0,0
2021-03-19,119.696686,121.224090,119.477058,119.786530,185549500,0.00,0,231.020004,232.470001,229.350006,230.350006,46430700,0,0
2021-03-22,120.125962,123.659960,120.056081,123.180771,111912300,0.00,0,230.270004,236.899994,230.139999,235.990005,30127000,0,0
2021-03-23,123.120876,124.029329,121.932891,122.332214,95467100,0.00,0,237.490005,241.050003,237.070007,237.580002,31638400,0,0
2021-03-24,122.611734,122.691600,119.866397,119.886360,88530500,0.00,0,237.850006,238.000000,235.320007,235.460007,25620100,0,0
2021-03-25,119.337298,121.453706,118.798213,120.385513,98844700,0.00,0,235.300003,236.940002,231.570007,232.339996,34061900,0,0
2021-03-26,120.145921,121.274010,118.718345,121.004463,94071200,0.00,0,231.550003,236.710007,231.550003,236.479996,25479900,0,0
2021-03-29,121.443720,122.372143,120.525281,121.184158,80819200,0.00,0,236.589996,236.800003,231.880005,235.240005,25227500,0,0
2021-03-30,119.906329,120.195838,118.658448,119.696686,85671900,0.00,0,233.529999,233.850006,231.100006,231.850006,24792000,0,0
2021-03-31,121.443719,123.310543,120.944567,121.942871,118323800,0.00,0,232.910004,239.100006,232.389999,235.770004,43623500,0,0
2021-04-01,123.450312,123.969427,122.282290,122.791428,75089100,0.00,0,238.470001,242.839996,238.050003,242.350006,30338000,0,0
2021-04-05,123.659959,125.946077,122.861313,125.686516,88651200,0.00,0,242.759995,249.960007,242.699997,249.070007,36910600,0,0
2021-04-06,126.285496,126.914425,125.436939,125.995987,80171300,0.00,0,247.610001,249.399994,246.880005,247.860001,22931900,0,0
2021-04-07,125.616631,127.703083,124.927799,127.683121,83466700,0.00,0,247.809998,250.929993,247.190002,249.899994,22719800,0,0
2021-04-08,128.731334,130.168894,128.302070,130.138947,88844600,0.00,0,252.770004,254.139999,252.000000,253.250000,23625200,0,0
2021-04-09,129.579904,132.814401,129.250462,132.774475,106686700,0.00,0,252.869995,255.990005,252.440002,255.850006,24326800,0,0
2021-04-12,132.295284,132.624727,130.408490,131.017456,91420000,0.00,0,254.710007,257.670013,254.619995,255.910004,27148700,0,0
2021-04-13,132.215426,134.431663,131.706281,134.202042,91266500,0.00,0,257.260010,259.190002,256.829987,258.489990,23837500,0,0
2021-04-14,134.711191,134.771087,131.436754,131.806122,87222800,0.00,0,257.480011,258.829987,255.160004,255.589996,23070900,0,0
2021-04-15,133.593087,134.771079,133.413385,134.271927,89347100,0.00,0,257.929993,259.929993,257.730011,259.500000,25627500,0,0
2021-04-16,134.072272,134.441640,133.053998,133.932510,84922400,0.00,0,259.470001,261.000000,257.600006,260.739990,24878600,0,0
2021-04-19,133.283597,135.240280,133.113887,134.611343,94264200,0.00,0,260.190002,261.480011,257.820007,258.739990,23209300,0,0
2021-04-20,134.791058,135.300187,131.586494,132.884293,94812300,0.00,0,257.820007,260.200012,256.839996,258.260010,19722900,0,0
2021-04-21,132.135554,133.523197,131.077354,133.273621,68847100,0.00,0,258.940002,260.679993,257.250000,260.579987,24030400,0,0
2021-04-22,132.814404,133.922522,131.187178,131.716278,84566500,0.00,0,260.209991,261.779999,255.639999,257.170013,25606200,0,0
2021-04-23,131.935898,134.890871,131.935898,134.092239,78657500,0.00,0,257.880005,261.510010,257.269989,261.149994,21462600,0,0
2021-04-26,134.601376,134.830982,133.333525,134.491562,66905100,0.00,0,261.660004,262.440002,260.170013,261.549988,19763300,0,0
2021-04-27,134.781053,135.180384,133.882585,134.162109,66015800,0.00,0,261.579987,263.190002,260.119995,261.970001,31014200,0,0
2021-04-28,134.082243,134.791046,132.854333,133.353485,107760100,0.00,0,256.079987,256.540009,252.949997,254.559998,46903100,0,0
2021-04-29,136.238598,136.837586,132.225410,133.253662,151101000,0.00,0,255.460007,256.100006,249.000000,252.509995,40589000,0,0
2021-04-30,131.556541,133.333521,130.847753,131.237091,109713200,0.00,0,249.740005,253.080002,249.600006,252.179993,30929200,0,0
2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.00,0,253.399994,254.350006,251.119995,251.860001,19626600,0,0
2021-05-04,130.967542,131.267036,126.485150,127.633202,137564700,0.00,0,250.970001,251.210007,245.759995,247.789993,32756100,0,0
2021-05-05,128.980915,130.228796,127.753005,127.882790,84000900,0.00,0,249.059998,249.500000,245.820007,246.470001,21901300,0,0
2021-05-06,127.673135,129.529982,126.914422,129.520004,78128300,0.00,0,246.449997,249.860001,244.690002,249.729996,26491100,0,0
2021-05-07,130.850006,131.259995,129.479996,130.210007,78892700,0.22,0,252.149994,254.300003,251.169998,252.460007,27010100,0,0
2021-05-10,129.410004,129.539993,126.809998,126.849998,88071200,0.00,0,250.869995,251.729996,247.119995,247.179993,29299900,0,0
2021-05-11,123.500000,126.269997,122.769997,125.910004,126142800,0.00,0,244.550003,246.600006,242.570007,246.229996,33641600,0,0
2021-05-12,123.400002,124.639999,122.250000,122.769997,112172300,0.00,0,242.169998,244.380005,238.070007,239.000000,36684400,0,0
2021-05-13,124.580002,126.150002,124.260002,124.970001,105752400,0.00,0,241.800003,245.600006,241.419998,243.029999,29593000,0,0
2021-05-14,124.580002,127.144997,126.250000,126.418999,8577422,0.00,0,245.574997,248.660004,245.574997,246.820007,3073325,0,0

In [22]:
# section19:yahoo!!financeから株価取得（データの整形）

In [23]:
hist.index

DatetimeIndex(['2021-03-05', '2021-03-08', '2021-03-09', '2021-03-10',
               '2021-03-11', '2021-03-12', '2021-03-15', '2021-03-16',
               '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-22',
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-01',
               '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
               '2021-04-09', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-19', '2021-04-20',
               '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-26',
               '2021-04-27', '2021-04-28', '2021-04-29', '2021-04-30',
               '2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06',
               '2021-05-07', '2021-05-10', '2021-05-11', '2021-05-12',
               '2021-05-13', '2021-05-14'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [26]:
hist.index=hist.index.strftime("%d %B %Y")

In [27]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
05 March 2021,120.774855,121.733226,117.370634,121.214104,153766600,0.0,0
08 March 2021,120.724940,120.794821,116.012942,116.162689,154376600,0.0,0
09 March 2021,118.828162,121.853023,118.588571,120.884666,129525800,0.0,0
10 March 2021,121.483657,121.962839,119.247450,119.776558,111943300,0.0,0
11 March 2021,122.332207,123.001069,121.054379,121.753189,103026500,0.0,0

In [33]:
hist=hist[["Close"]]
hist.columns=["apple"]

KeyError: "None of [Index(['Close'], dtype='object')] are in the [columns]"

In [34]:
hist.head()

                    apple
Date
05 March 2021  121.214104
08 March 2021  116.162689
09 March 2021  120.884666
10 March 2021  119.776558
11 March 2021  121.753189

In [36]:
hist=hist.T
hist

Date,05 March 2021,08 March 2021,09 March 2021,10 March 2021,11 March 2021,12 March 2021,15 March 2021,16 March 2021,17 March 2021,18 March 2021,...,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021
apple,121.214104,116.162689,120.884666,119.776558,121.753189,120.824768,123.779747,125.357071,124.548447,120.325615,...,132.315247,127.633202,127.88279,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,126.418999

In [37]:
hist.index.name="Name"

In [38]:
hist

Date,05 March 2021,08 March 2021,09 March 2021,10 March 2021,11 March 2021,12 March 2021,15 March 2021,16 March 2021,17 March 2021,18 March 2021,...,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,121.214104,116.162689,120.884666,119.776558,121.753189,120.824768,123.779747,125.357071,124.548447,120.325615,...,132.315247,127.633202,127.88279,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,126.418999

In [39]:
# section20:複数社のデータ整形